<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }} - Markup</title>
    {% else %}
    <title>Markup</title>
    {% endif %}

    {% block header %}{% endblock %}
</head>
<body>
<h1>Hello</h1>

{% block content %}{% endblock %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</body>
</html>